/* base elements override */
body {
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Revalia', sans-serif;
}

/* index page huge card */

.huge {
  height: 25em;
}
.card-choice {
  height:21.429em; 
  line-height:21.429em;
}

/* gobal layout */

.no-bottom-margin {
  margin-bottom: 0;
}

/* build */
.choose-player {
  background-color: #f3f3f3;
}

/*  */
.card {
	background-color: white;
	position: relative;
	height: 15em;
	display:block;
}

/* close button */
.card .close {
    font-size: 1.375rem;
    padding: 9px 6px 4px;
    line-height: 0;
    position: absolute;
    top: 1rem;
    margin-top: -0.6875rem;
    right: .75rem;
    color: #333333;
    opacity: 0.3; 
}

.card-content {
	border: 1px solid #A8A8A8;
	padding: 1.5em;
	cursor: pointer;
	-webkit-box-shadow: 0 0 10px 2px #A8A8A8;
	box-shadow: 0 0 10px 2px #A8A8A8;
  overflow:hidden;
}

.card.switch {
  -webkit-animation: switch 250 ease-in;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.365, 1.455);
}

.card.discard {
  -webkit-animation: discard 500 ease-in;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.365, 1.455);
}

@-webkit-keyframes switch {
  0% {
    -webkit-transform: scale(0.75, 0.75);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes discard {  

  100% {
    -webkit-transform: scale(0.75, 0.75);
    opacity: 0;
  }
}